@page
@model RestrauntsAgain.Pages.MainPageModel
@{
    ViewData["Title"] = "MainPage";
}

<h1>Restraunt List</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
            </span>
        </div>
    </div>
</form>
<div>
    <table class="table table-primary">
        @foreach (var restraunt in Model.RestrauntList)
        {
            <partial name="_SummaryPage" model="restraunt"/>
        }
    </table>
    <div>
        <a class="btn btn-primary" asp-page="./EditRestraunt">Create New  Restraunt</a>
    </div>
</div>

